<div class="hero overlay" style="background-image: url('assets/images/bg_x.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
               <!-- <h1 class="text-white">Occurence</h1>-->
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form #serachStadiumForm="ngForm" (ngSubmit)="searchSatadium">

                    <div class="form-group">
                        <input  name="email" type="text" 
                        [(ngModel)]="obj.stadiumName"   class="form-control" placeholder="search by name">
                    </div>

           

                    <div class="form-group">
                        <input (click)="searchSatadium()" type="submit" class="btn btn-primary py-3 px-5" value="search">
                    </div>
                </form>
            </div>

        </div>
        <div >
            <table class="table">
            <tr *ngFor="let s of findedStadium">
              <td>{{s.id}}</td>
              <td>{{s.name}}</td>
              <td>{{s.capacite}}</td>
              <td>{{s.country}}</td>
            </tr>
            
             </table></div>
        
    </div>
</div>
