<div class="post-entry">
    <a href="#">
      <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
    </a>
    <div class="caption">
      <div class="caption-inner">
        <h3 class="mb-3">Name: {{X.name}}</h3>
        <div class="author d-flex align-items-center">
          <div class="img mb-2 mr-3">
            <img src="images/person_1.jpg" alt="">
          </div>
          <div class="text">
            <div> id: {{X.id}}</div>
            <div>Old: {{X.age}}</div>
            <div>Number: {{X.nbr}}</div>
            <div>Pos: {{X.position}}</div>
          </div>
        </div>
      </div>
    </div> 
  </div>